.header {
    background-image: url('./header-background.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
}

h1 {
    color: white;
    -webkit-text-stroke: 2.5px black; 
    font-family: Arial;
    font-size: 100px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .header {
        padding: 1px;
        background-size: 1000px;
    }

    h1 {
        font-size: 40px;
        -webkit-text-stroke: 0px black;
    }
}